:root {
  --primarycolor: blue;
  --secondarycolor: skyblue;
}
header{
  background-color: var(--primarycolor)
}

  hr{
    margin-top: 1.5rem;
   
    width: 26.5em; 
    height: 1rem;
    background-color: var(--secondarycolor)
  } 

h1{
width: 100%;


}
h2{
  font-size: 2.5rem;
  text-align: center;
}
h3{
  text-align: end;
  font-size: 5vh;
  padding-left: 4em;
  margin: 0
}
.this-text{
text-align: center;
font-size: 3em;
width: 100%;

}
 p{
  width: 80%;
  
  
 }
.header{
  width: 100%;
  padding-right: 15rem;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
}
.left-column{
  width: 50%;
  flex-direction: column;
  padding-left: 8em;
  justify-content: center;
}
.right-column{
  width: 30%;
}
.d-flex{
display: flex
}
body{
  margin: 0;
}
img{
  margin-left: 4rem;
  padding-top: 3rem;
  height: 15em;
  width: 22em;
} */

section{
  /* height: 3em; */
}
.justify-content-center{
  justify-content: center;
}
.text-align{
  width: 80%;
  flex-direction: column; 
  margin-left: 9rem;
  margin-top: 0;
}
.footer{
  /* display: flex;
  flex-direction: row; */
  height: 6em;
  background-color: var(--primarycolor);
}
