:root {
  --primarycolor: blue;
}
header{
  background-color: var(--primarycolor)
}

   

h1{
width: 100%;
margin: 0;

}
.this-text{
text-align: center;
font-size: 3em;

}
.header{
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
}
.left-column{
  text-align: center;
}

.d-flex{

}
body{
  margin: 0;
}